* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.cv {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

.profile-pic {
    margin-right: 20px;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.header-info h1 {
    font-size: 2em;
    color: #333;
}

.header-info p {
    font-size: 1.2em;
    color: #777;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 40%; /* Educación y experiencia ocupan el 70% */
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 20px;
    border-radius: 8px;
}

.right {
    width: 60%; /* Contacto y habilidades ocupan el 30% */
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

p {
    font-size: 1.1em;
    color: #555;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 5px;
}
